* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/rings3.png");
	background-size: cover;
	width: 100%;
}

@font-face {
	font-family: "SF Sports Night";
	src: url("../images/fonts/SFSportsNight.ttf") format("truetype");
}

h1 {
	font-family: "SF Sports Night", Arial;
	font-size: 150px;
	text-align: center;
	color: #df0024;
}

p {
	font-family: "SF Sports Night", Arial;
	font-size: 50px;
	text-align: center;
	color: #0d6996;
}

#current {
	color: #f4c300;
}

#countersContainer {
	width: 60%;
	height: 500px;
	margin: 0 auto;
	border: 1px dotted #009f3d;
	border-radius: 10px;
	padding: 10px;
	background-color: #f9e69a;
	background-image: url("../images/sports.png");
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	box-sizing: border-box;
}

h2 {
	font-family: "SF Sports Night", Arial;
	text-align: center;
	font-size: 40px;
	color: #009f3d;
}

#wins, #currentWord, #guessesLeft, #theGuesses {
	color: black;
}